* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --backgrounds: rgb(105, 105, 199, 0.5);
  --letra: #edf2f2;
}

/* BODY */

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "my-header my-header my-header"
    "my-nav my-nav my-nav"
    "my-main my-main my-main"
    "my-footer my-footer my-footer";
  grid-template-rows: 40px auto 4fr auto;
  grid-template-columns: 100%;
}

/* HEADER */

header {
  grid-area: my-header;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url("../images/ThunderLight.webp");
  font-weight: 800;
}

.header-text {
  padding: 10px;
}

/* MENU NAV */

nav {
  grid-area: my-nav;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: black;
}

ul {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

nav ul a:hover {
  background-color: blueviolet;
  color: white;
}

nav ul a.active {
  background-color: blueviolet;
  color: white;
}
nav ul a:hover:not(.active) {
  background-color: #b089c2;
  color: white;
}

ul li img {
  max-height: 100px;
}

.menu,
a {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 20px;
}

.opcion {
  max-height: 100%;
  padding: 15px;
  margin: 15px;
}

/* MAIN TAGS */

main {
  color: var(--letra);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/AdobeStock_905444846.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

main div {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.seccion-main-index {
  justify-content: center;
}

.seccion-main-index section {
  background-color: var(--backgrounds);
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  color: var(--letra);
}

.main-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--letra);
}

/* MAIN PRODUCTOS Y GALERIA */

.titulo {
  margin: 15px;
  background-color: black;
  padding: 10px;
}

.galeria {
  background-color: var(--backgrounds);
  margin: 25px;
  padding-top: 20px;
  border-radius: 25px;
}

main .galeria {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px 50px;
  grid-gap: 1rem;
}

main .producto {
  max-height: 300px;
  max-width: 300px;
}

.productos-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--backgrounds);
  border-radius: 20px;
  padding: 15px;
  margin: 10px 10px 30px 10px;
}

.productos-descripcion a {
  color: #f2543f;
  text-decoration: underline;
}

/* PRESUPUESTOS */

.presupuestos {
  color: black;
}

.main-presupuesto {
  background-color: var(--backgrounds);
  background-size: cover;
  color: black;
  border-radius: 25px;
  margin: 20px;
  padding: 25px;
}

form .presupuesto {
  color: black;
}

.presupuesto {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: black;
}

form button b {
  color: black;
  font-size: large;
}

/* CONTACTO */

.titulo-contacto {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
}

.articulo-contacto {
  background-color: var(--backgrounds);
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
}

.mapa {
  padding: 20px;
  margin: 20px;
}

/* FOOTER */

footer {
  grid-area: my-footer;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: var(--letra);
}

/* FOOTER  REDES SOCIALES */

.redes {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redes-sociales-titulo {
  padding-bottom: 20px;
}

.redes-sociales a img {
  justify-content: space-between;
  max-height: 40px;
  max-width: 40px;
}

.social {
  list-style: none;
}
/* FOOTER AVISO LEGAL  */
.aviso-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 20px;
}
/* FOOTER DIRECCION  */

.direccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 20px;
}

/* FOOTER SITEMAP  */

.sitemap {
  display: flex;
  color: var(--letra);
  align-content: center;
  padding: 20px;
}

.sitemap ul {
  list-style: none;
  flex-direction: column;
  color: var(--letra);
}

.titulo-sitem {
  text-transform: capitalize;
  color: var(--letra);
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* FOOTER LOGO  */

.logo-footer img {
  max-height: 100px;
  max-width: 100px;
}
