<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>

    <header>
      <p class="header-text">  BIENVENIDO A ELECTRO-ROPA! PRIMERA VEZ? USA NUESTRO CUPON PR1M3R4-V3Z PARA TU PRIMER 10% DE DESCUENTO!</p>
    </header>

    <nav>
        <ul class="menu">
            <li><img src="images/logo.png" class="logo-web" alt="logo"></li>
            <li class="opcion"><a  href="index.html">Home</a></li>
            <li class="opcion"><a href="../productos.html">Productos</a></li>
            <li class="opcion"><a href="../presupuesto.html">Presupuestos</a></li>
            <li class="opcion"><a class="active" href="../contacto.html">Contacto</a></li>
        </ul>
        
    </nav>
    

    <main >
        <h1 class="titulo-contacto">CONTACTO</h1>

        <br>

        <div class="main-contacto">
            <article class="articulo-contacto">
                
                <h4>Nuestra direccion </h4>
                <p>C. de Alonso Cano, 44, 46, 
                    Chamberí, 28003 Madrid, España
                </p>

                <a href="tel:+34915240947"><p class="telefono">+34915240947</p></a>
            </article>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.503605403363!2d-3.7000116233446665!3d40.441228571435666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228f0d66f20dd%3A0xd2f315a5e7718fbe!2sMasterD%20Madrid!5e1!3m2!1ses!2sgr!4v1738736313787!5m2!1ses!2sgr" width="600" height="450" style="border:0;" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>


        </div>


        
    </main>
   
    <footer>
        <div class="redes">
            <h5 class="redes-sociales-titulo">Encuentranos tambien en RRSS</h5>
            <ul class="social">
                <li class="redes-sociales"><a href="https://www.facebook.com/MasterDoposiciones/?locale=es_LA"><img src="../images/facebook.png" alt="facebook" height="512" width="512"></a></li>
                <li class="redes-sociales"><a href="https://www.instagram.com/masterdformacion/?hl=es"><img src="../images/instagram.png" alt="instagram" height="512" width="512"></a></li>
                <li class="redes-sociales"><a href="http://www.twitter.com/masterdistancia"><img src="../images/twitter.png" alt="twitter" height="512" width="512"></a></li>
            </ul>
        </div>
        <div class="aviso-legal">
            <p>En cumplimiento del Reglamaento General de Protección de Datos (UE) 2016/679 del Parlamento
                Europeo y del Consejo de 27 de abril de 2016 y la ley orgánica 3/2018 de 5 de diciembre de Protección
                de Datos Personales y de Garantía de los Derechos Digitales, se reflejan los siguientes datos:
                La empresa titular del presente dominio web 
                es  número de CIF ., con domicilio a estos
                efectos en 
                Correo electrónico de Protección de Datos: 
                Inscrita en el Registro Mercantil de </p>
        </div>
        <div class="direccion">
            <p>NUESTRAS OFICINAS EN MADRID</p>
                <p><a href="https://www.google.com/maps/place/Academia+Cursos+de+Formaci%C3%B3n+%7C+MasterD+Madrid/@40.4412286,-3.7000116,603m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd4228f0d66f20dd:0xd2f315a5e7718fbe!8m2!3d40.4412286!4d-3.6974367!16s%2Fg%2F11xc65x3q?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">
                    C. de Alonso Cano, 44, 46, Chamberí, 28003 Madrid, España</a></p>
                    <a href="tel:+34915240947"><p class="telefono">+34915240947</p></a>

        </div>

        <div class="sitemap">
            <ul> 
                <li><p class="titulo-sitem"><b>Site map</b></p></li>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./views/productos.html">Productos</a></li>
                <li><a href="./views/presupuesto.html">Presupuestos</a></li>
                <li><a href="./views/contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="/index.html">
                <img src="./images/logo.png" alt="logo">
                <p>ELECTRO-ROPA</p>
            </a>    
        </div>

    </footer>
    
    
  
</body>
</html>