<!-- esta es la galeria de productos -->
 <!DOCTYPE html>
 <html lang="es">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Productos</title>
 </head>
 <body>

    <header>
      <p class="header-text">  BIENVENIDO A ELECTRO-ROPA! PRIMERA VEZ? USA NUESTRO CUPON PR1M3R4-V3Z PARA TU PRIMER 10% DE DESCUENTO!</p>
    </header>
 
    <nav>
        <ul class="menu">
            <li><img src="images/logo.png" class="logo-web" alt="logo"></li>
            <li class="opcion"><a  href="../index.html">Home</a></li>
            <li class="opcion"><a class="active" href="../productos.html">Productos</a></li>
            <li class="opcion"><a  href="../presupuesto.html">Presupuestos</a></li>
            <li class="opcion"><a href="../contacto.html">Contacto</a></li>
        </ul>
        
    </nav>

  <main>

    <div class="titulo">
        <h1>PRODUCTOS</h1>

    </div>

<div>
    <div class="galeria">

        <img src="../images/AdobeStock_967929754.jpeg" alt="camisa-rayos" class="producto" width="4096" height="4096">
        <img src="../images/camiseta-rayos.jpg" alt="camiseta rayos" class="producto" width="980" height="736">
        <img src="../images/AdobeStock_968413928.jpeg" alt="camiseta simple rayo" class="producto" width="4096" height="4096">
        <img src="../images/AdobeStock_977399479.jpeg" alt="chandal rayos" class="producto" width="4096" height="4096">
        <img src="../images/Firefly-1.jpg" alt="conjunto rayo" class="producto" height="512" width="512">
        <img src="../images/AdobeStock_967932252.jpeg" alt="patalon rayos" class="producto" width="4096" height="4096">
        <img src="../images/Firefly-2.jpg" alt="rayo camiseta negra" class="producto" height="512" width="512">
        <img src="../images/AdobeStock_967929732.jpeg" alt="camiseta AI" class="producto" width="4096" height="4096">
        <img src="../images/Firefly-3.jpg" alt="" class="producto" height="512" width="512">
        <img src="../images/Firefly-4.jpg" alt="" class="producto" height="2048" width="2048">
        <img src="../images/Firefly-5.jpg" alt="" class="producto" height="512" width="512">
        <img src="../images/Firefly-6.jpg" alt="" class="producto" height="512" width="512">
    
    </div>

    <article class="productos-descripcion">
        <h3>Nuestros Productos</h3>
        <p>Aqui encontraras una seleccion de nuestras camisetas y diseños con rayos graficos, cada uno de estos diseños se puede encargar solicitando un <a href="../views/presupuesto.html" class="a-presupuesto">presupuesto</a> en nuestra pagina</p>
    </article>
</div>

  </main>

    <footer>
        <div class="redes">
            <h5 class="redes-sociales-titulo">Encuentranos tambien en RRSS</h5>
            <ul class="social">
                <li class="redes-sociales"><a href="https://www.facebook.com/MasterDoposiciones/?locale=es_LA"><img src="../images/facebook.png" alt="facebook" height="512" width="512"></a></li>
                <li class="redes-sociales"><a href="https://www.instagram.com/masterdformacion/?hl=es"><img src="../images/instagram.png" alt="instagram" height="512" width="512"></a></li>
                <li class="redes-sociales"><a href="http://www.twitter.com/masterdistancia"><img src="../images/twitter.png" alt="twitter" height="512" width="512"></a></li>
            </ul>
        </div>
        <div class="aviso-legal">
            <p>En cumplimiento del Reglamaento General de Protección de Datos (UE) 2016/679 del Parlamento
                Europeo y del Consejo de 27 de abril de 2016 y la ley orgánica 3/2018 de 5 de diciembre de Protección
                de Datos Personales y de Garantía de los Derechos Digitales, se reflejan los siguientes datos:
                La empresa titular del presente dominio web 
                es  número de CIF ., con domicilio a estos
                efectos en 
                Correo electrónico de Protección de Datos: 
                Inscrita en el Registro Mercantil de </p>
        </div>
        <div class="direccion">
            <p>NUESTRAS OFICINAS EN MADRID</p>
                <p><a href="https://www.google.com/maps/place/Academia+Cursos+de+Formaci%C3%B3n+%7C+MasterD+Madrid/@40.4412286,-3.7000116,603m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd4228f0d66f20dd:0xd2f315a5e7718fbe!8m2!3d40.4412286!4d-3.6974367!16s%2Fg%2F11xc65x3q?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">
                    C. de Alonso Cano, 44, 46, Chamberí, 28003 Madrid, España</a></p>
                    <a href="tel:+34915240947"><p class="telefono">+34915240947</p></a>

        </div>

        <div class="sitemap">
            <ul> 
                <li><p class="titulo-sitem"><b>Site map</b></p></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/presupuesto.html">Presupuestos</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="../index.html">
                <img src="../images/logo.png" alt="logo">
                <p>ELECTRO-ROPA</p>
            </a>    
        </div>

    </footer>

 </body>
 </html>